modules = ["nodejs-20", "postgresql-16", "web", "python-3.11", "cpp-clang14", "c-clang14"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"
packages = ["cairo", "catch2", "comic-neue", "coordgenlibs", "eigen", "ffmpeg-full", "freefont_ttf", "freetype", "gdk-pixbuf", "ghostscript", "glib", "glibcLocales", "gobject-introspection", "gtk3", "inchi", "lcms2", "libimagequant", "libjpeg", "libtiff", "libwebp", "libxcrypt", "maeparser", "mlocate", "openjpeg", "pkg-config", "qhull", "rapidjson", "tcl", "tk", "zlib"]

[deployment]
deploymentTarget = "autoscale"
build = ["npm", "run", "build"]
run = ["npm", "run", "start"]

[workflows]
runButton = "Start application"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80
